

#list {
    padding: 0;
}

input {
    padding: 10px;
    margin: 0;
}

header {
    padding: 70px;
    background-color: #4cadf7;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 5px #dadfea;

}

#todo-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    border-radius: 2px;
}

#fa-button {
    background: #CCC8C5;
    padding: 10px 10px 10px 15px;
}


.listItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #dadfea;
    height: 30px;
    padding: 17px 12px;
}

.x-and-check {
    border-left: 4px solid #dadfea;

    padding-left: 10px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4%;
}

.line-through {
    text-decoration: line-through;
}